.header {
  width: 1400px;
  height: 670px;
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
.header-nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.header-nav-list {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.header-nav-list-item-link {
  text-decoration: none;
  color: black;
}
.header-nav-extra {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-nav-extra-link1-btn {
  width: 110px;
  height: 43px;
  border: 1px solid blue;
  border-radius: 5px;
}
.header-nav-extra-link2-btn {
  width: 110px;
  height: 43px;
  background: #02897a;
  color: white;
  border: none;
  border-radius: 5px;
}
.header-nav-burger {
  display: none;
}
.header-hero {
  width: 100%;
  height: 90%;
  display: flex;
}
.header-hero-desc {
  width: 40%;
  height: 100%;
  padding: 20px;
  margin-left: 8%;
}
.header-hero-desc-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}
.header-hero-desc-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.header-hero-desc-btn {
  display: flex;
  margin-left: 0%;
}
.header-hero-desc-btn-knopka {
  width: 175px;
  height: 53px;
  background: #02897a;
  border: none;
  border-radius: 5px;
  color: white;
}
.header-hero-desc-btn-knopka:hover {
  width: 175px;
  height: 54px;
  background: #02897a;
  border: none;
  border-radius: 5px;
  color: white;
}
.header-hero-desc-btn-link {
  width: 161px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
}
.header-img {
  width: 60%;
  height: 100%;
  border: 1px solid rgb(255, 153, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header {
    width: 100%;
    height: 10%;
  }
  .header-nav {
    width: 100%;
    height: 100%;
  }
  .header-nav-logo {
    width: 70%;
  }
  .header-nav-list {
    display: none;
  }
  .header-nav-extra {
    display: none;
  }
  .header-nav-burger {
    display: block;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .header-hero-desc {
    width: 100%;
    height: 100%;
  }
  .header-hero-desc-btn {
    margin-left: -50%;
    display: flex;
    flex-direction: column;
  }
  .header-hero-img {
    width: 100%;
    height: 100%;
  }
  .header-hero-img-images {
    width: 70%;
  }
}
.section1 {
  width: 100%;
  height: 543px;
  margin: 0 auto;
}
.section1-title {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
}
.section1-container {
  margin-top: 5%;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/Bg\ \(3\).png);
}
.section1-container-list {
  margin-top: -10%;
  width: 95%;
  height: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section1-container-list-item {
  width: 20%;
  height: 100%;
}
.section1-container-btn {
  width: 175px;
  height: 53px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #02897A;
  color: white;
}

@media screen and (max-width: 500px) {
  .section1 {
    width: 100%;
    height: 100%;
  }
  .section1-title {
    font-size: 30px;
    text-align: center;
  }
  .section1-container {
    width: 100%;
    height: 100%;
  }
  .section1-container-list {
    margin-top: 2%;
    display: block;
    text-align: center;
  }
  .section1-container-list-item {
    width: 90%;
    margin-top: 20%;
    padding: 2% 0%;
    height: 100%;
  }
  .section1-container-list-item-text {
    padding: 4% 10%;
  }
  .section1-container-btn {
    width: 30%;
    padding: 7px;
    height: 100%;
    font-size: 12px;
  }
}
.section2 {
  width: 100%;
  margin: 0 auto;
}
.section2-list {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3%;
  list-style: none;
}
.section2-list-desc {
  margin: 0% 5%;
  width: 45%;
  height: 100%;
}
.section2-list-desc-bolt {
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  color: #0f0f10;
}
.section2-list-desc-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #0f0f10;
}
.section2-list-desc-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}
.section2-list-img {
  width: 45%;
  height: 100%;
  margin: 0% 5%;
}
.section2-list-img-images {
  margin-top: -10%;
}
.section2-list-img-images2 {
  width: 70%;
}

@media screen and (max-width: 500px) {
  .section2 {
    width: 100%;
    height: 100%;
  }
  .section2-list {
    width: 100%;
    height: 100%;
  }
  .section2-list-desc {
    margin: 10% 5%;
    width: 100%;
    height: 100%;
  }
  .section2-list-desc-bolt {
    font-weight: 900;
    font-size: 10px;
    line-height: 13px;
    color: #0f0f10;
  }
  .section2-list-desc-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #0f0f10;
    margin-bottom: -30%;
  }
  .section2-list-desc-text {
    font-size: 10px;
    font-weight: 200;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
  }
  .section2-list-img {
    width: 100%;
    height: 100%;
  }
  .section2-list-img-images {
    margin-left: -25%;
    width: 120%;
  }
}
.footer {
  width: 100%;
  height: 300px;
}
.footer-list {
  margin-left: -3%;
  width: 100%;
  height: 80%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-list-item1 {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.footer-list-item1-avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.footer-list-item2 {
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-list-item2-text {
  width: 100%;
  height: 70%;
}
.footer-list-item3 {
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-list-item3-text {
  margin-left: 0%;
}
.footer-list-item3-input {
  margin-left: 0%;
  width: 310px;
  height: 42px;
  border: 1px solid #BCD0E5;
}
.footer-list-item3-btn {
  width: 131px;
  height: 39px;
  border: none;
  border-radius: 5px;
  background: #02897A;
  color: white;
  margin-left: 0%;
}
.footer-text {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .footer {
    width: 100%;
    height: 100%;
  }
  .footer-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-list-item1 {
    width: 100%;
    height: 100%;
    padding-top: 10%;
  }
  .footer-list-item2 {
    width: 100%;
    height: 100%;
    padding: 10% 2%;
  }
  .footer-list-item2-text {
    width: 100%;
    height: 100%;
  }
  .footer-list-item3 {
    width: 100%;
    height: 100%;
    padding-top: 10%;
  }
}
body {
  background: #E5E5E5;
}

.container {
  width: 1400px;
  border: 1px solid;
  margin: 0 auto;
  background: white;
}

* {
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
